.modal {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px;

    h2 {
        margin-top: 0;
    }

    input {
        padding: 10px;
        margin: 15px 0;
        border-radius: 10px;
    }

    button {
        padding: 10px 15px;
        background-color: #fff;

        border-radius: 10px;

        cursor: pointer;
    }
}
