.header {
  display: flex;
  justify-content: space-around;

  &__search {
    padding: 10px 15px;
    outline: none;
    border-radius: 5px;
  }

  &__button {
    background-color: #fff;
    padding: 10px 15px;
    border-radius: 10px;

    cursor: pointer;
  }
}
